{% extends 'base.html.twig' %}

{% block title %}
    Bienvenue sur le meilleur site du tourisme au Laos
{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron mt-3">
            <h1 class="display-3">Bienvenue sur LaoTourism</h1>
            <p class="lead">Voyageurs, decouvrez le Laos.</p>
            <hr class="my-4">
            <p>Ou loger?</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Voir nos annonces</a>
            </p>
        </div>
        <h2 class="h1 mt-3 mb-4">Nos logements stars</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 chambres, <strong>49€ par nuit</strong><br>
                        <small>Pas encore noté</small>
                    </div>
                    <img src="http://placehold.it/1000x400" alt="Image de l'appartement" style="hauteur:200px; width:100%; display:block;">
                    <div class="card-body">
                        <h4 class="card-title">Appartement de ouf</h4>
                        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure suscipit nihil placeat perferendis eius deleniti ea sint provident possimus repudiandae!</p>
                        <a href="#" class="btn btn-secondary">En savoir plus</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 chambres, <strong>49€ par nuit</strong><br>
                        <small>Pas encore noté</small>
                    </div>
                    <img src="http://placehold.it/1000x400" alt="Image de l'appartement" style="hauteur:200px; width:100%; display:block;">
                    <div class="card-body">
                        <h4 class="card-title">Appartement de ouf</h4>
                        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure suscipit nihil placeat perferendis eius deleniti ea sint provident possimus repudiandae!</p>
                        <a href="#" class="btn btn-secondary">En savoir plus</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 chambres, <strong>49€ par nuit</strong><br>
                        <small>Pas encore noté</small>
                    </div>
                    <img src="http://placehold.it/1000x400" alt="Image de l'appartement" style="hauteur:200px; width:100%; display:block;">
                    <div class="card-body">
                        <h4 class="card-title">Appartement de ouf</h4>
                        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure suscipit nihil placeat perferendis eius deleniti ea sint provident possimus repudiandae!</p>
                        <a href="#" class="btn btn-secondary">En savoir plus</a>
                    </div>
                </div>
            </div>
            
        </div>

        <h2 class="h1 mt-3 mb-4">Nos activititée par ville</h2>
        <div class="row">
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Vientiane</h4>
                        <hr>
                        <div class="card-text">
                            <img src="http://placehold.it/64x64" alt="image de vientiane" class="float-left mr-3">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, possimus.</p>
                            <a href="#" class="btn btn-success float-right">Découvrir</a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Vientiane</h4>
                        <hr>
                        <div class="card-text">
                            <img src="http://placehold.it/64x64" alt="image de vientiane" class="float-left mr-3">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, possimus.</p>
                            <a href="#" class="btn btn-success float-right">Découvrir</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    
{% endblock %}
